<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Website</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/index.js">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  
</head>
<body>
    <nav  id="navbar">
        <ul id="navigation">
            <li> <a href="/">Home</a></li>
            <li><a href="/">About us</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Contact us</a></li>
        </ul>

    </nav>
    <section id="intro">this is section for intro
        <form action="">
            <input type="text" id="name" placeholder="enter your name">
            <input type="text" id="sex" placeholder="enter your sex">
            <input type="text" id="phone no." placeholder="enter your phone no.">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="enter your address"></textarea>
        </form>
    </section>
    <section id="sponser">this is section for sponser

    </section>
    <footer id="footer">Our footer here</footer>
    
</body>
</html>