@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;
}
#navigation{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    margin: 10px 20px;
    

}
li{
    padding: 10px auto;
    margin: 10px auto;
    list-style: none;
    justify-content: center;
}
a{
    text-decoration: none;
}
li:hover{
    color: gray;
    background-color: aqua;
    border-radius: 8px;
}
#intro{
    border: 2px solid black;
    height: 470px;
}
input,textarea{
    display: block;
    text-align: center;
    margin: 2px auto;
    border: 2px solid black;
    border-radius: 10px ;
}
#sponser{
    border: 2px solid red;
    height: 200px;
}
#footer{
    border: 2px solid purple;
    height: 200px;
}